<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><Login</title>
</head>
<body>
<h2> Log ind på Wishlist</h2>
<form>
    <form action="/login" method="post">
    <label>Brugernavn:</label><br>
    <input type="text" name="user" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Log ind</button>

</form>

<p>Har du ikke en konto?
    <a href="register.html"> Opret bruger her</a></p>

</body>
</html>