<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">



</head>
<body>
<h2>Opret en ny bruger</h2>

<p th:if="${registerError}" style="color:red;" th:text="${registerError}"></p>

<form th:action="@{/register}" method="post">
    <label>Brugernavn:</label><br>
    <input type="text" name="user" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Opret bruger</button>
</form>

<p>Har du allerede en konto?
    <a th:href="@{/login}">Log ind her</a>
</p>
</body>
</html>